<title>Text Utils</title>
  </head>
  <body>
    <h1>Welcome to Text Analyzer!</h1>
    <form action="/analyse " method="get">
      <label for="st">Enter your text below:</label>
      <textarea name="st" id="st" cols="30" rows="10"></textarea>
      <input type="checkbox" name="removepunc" /> Remove Punctuation <br />
      <input type="checkbox" name="capitalize" />Capitalize<br />
      <input type="checkbox" name="removespace" />Remove Spaces<br />
      <input type="checkbox" name="charcount" />Number of Characters<br />
      <input type="checkbox" name="word_count" />Number of words<br />
      <button type="submit">Analyze Text</button>
    </form>
  </body>
</html>